
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* ===== Visão Geral ===== */
h2 {
  font-size: 30px;
  margin-top: 30px;
  cursor: default;
}

.overview-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
}

.card {
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.card .label {
  font-size: 14px;
  opacity: 0.9;
}

.card .value {
  font-size: 28px;
  font-weight: 700;
  margin-top: 8px;
}

.card.ganhos {
  grid-row: span 2;
  background: #22c55e;
}

.card.resultado {
  grid-row: span 2;
  background: #6366f1;
}

.card.custos {
  background: #38bdf8;
}

.card.margem {
  background: #60a5fa;
}

/* ===== Gráficos ===== */
.chart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-box {
  width: 100%;
  max-width: 1100px;
  border-radius: 12px;
  padding: 16px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-box canvas {
  width: 100% !important;
  height: 100% !important;
}

.chart-legend {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 12px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: background 0.15s ease;
}

.legend-item:hover {
  border-radius: 10px;
  font-weight: bold;
  background: rgba(66, 66, 66, 0.37); 
}

.legend-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.chart-box--square {
  max-width: 600px;
  height: 600px; 
}

.chart-box--square canvas {
  width: 100% !important;
  height: 100% !important;
}

/* ===== Tabela ===== */
.table-section {
  border-radius: 20px;
}

.top-costs {
  width: 100%;
  border-collapse: collapse;
}

.top-costs th {
  font-size: 20px;
  color: white;
  background-color: #004aad;
  text-align: left;
  padding: 16px;
}

.top-costs td {
  font-size: 16px;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  cursor: pointer;
}

/* ===== Tooltip ===== */
.chart-title {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  position: relative;
  display: inline-block;
}

/* tooltip */
.tooltip-content {
  position: absolute;
  top: 125%;              /* abaixo do título */
  left: 10%;
  transform: translateX(-50%);
  background: #111827;
  color: #fff;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.4;
  width: 300px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 20;
}

/* setinha */
.tooltip-content::before {
  content: '';
  position: absolute;
  top: -6px;              /* cola na tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #111827; /* seta apontando pra cima */
}

.chart-title:hover .tooltip-content {
  opacity: 1;
}