
span h2 {
    margin-bottom: 10px;
}

.doc-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
}

.doc-title {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.doc-title img {
    width: 30px;
    height: 30px;
}

.radio-group {
    margin-right: 70%;
    gap: 20px;
}

.radio-custom {
    margin-left: 10px;
}

.radio-custom input {
  display: none;
}

/* visual padrão */
.radio-custom span {
  margin-right: 4px;
}

.circle::before {
  content: '( )';
}

.radio-custom input:checked + .circle::before {
  content: '(X)';
  
  font-weight: bold;
}

/* garante posicionamento */
.radio-custom span {
  position: relative;
}